<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>C.S.U.D.U.D - Landing Page</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.img', _external=True) }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png', _external=True) }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox', _external=True) }} rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css', _external=True) }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', _external=True) }}"> 

  <!-- =======================================================
  * Template Name: Green
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center accent-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i><a href="mailto:alberto@gmail.com" id="mail">✉️ alberto@gmail.com</a></i>
          <i><span id = "tel">📱 +54 911 9999-9999</span></i>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">Club Social y Deportivo Unidos por el Deporte</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#acerca">Acerca</a></li>
            <li><a href="#mapa">Mapa</a></li>
            <li><a href="#datos">Datos</a></li>
            <li><a href="#reglamento">Reglamento</a></li>
            <li><a href="#registro">Contactanos</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Bienvenido al Maratón de Tandil</h1>
              <p class="mb-0">El evento se va a desarrollar en la ciudad de Tandil en Buenos Aires, organizado por nuestro club, el día 24 de Octubre de 2025 a las 8am. Existen dos modalidades corta y larga, la primera es de 3o km y la segunda de 80km.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="#">Inicio</a></li>
            <li class="current">¿Donde encuentro la informacion?</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="acerca">Acerca de nosotros y esta maratón</h2>
        <p>El evento se desarrollará en la ciudad de Tandil, Buenos Aires, el 24 de octubre de 2025, con la largada programada para las 8:00 a.m.. La organización está a cargo del club local. <br>
            El desafío presenta dos modalidades para los corredores: una de 30 km y otra de 80 km. La distancia más corta está diseñada para aquellos que buscan un reto significativo sin la exigencia extrema de una ultra maratón, mientras que la distancia larga ofrece un recorrido exigente para los atletas más experimentados. <br>
            El evento tiene como objetivo proporcionar una experiencia deportiva memorable en un entorno natural y desafiante. Se espera una jornada de superación personal y un fuerte espíritu de comunidad entre todos los participantes.</p>
      </div><!-- End Section Title -->

    <!-- Section Title -->

      <div class="container section-title" data-aos="fade-up">
        <h2 id="mapa">Mapa</h2>
        <h2 class="titulo_carrera">Carrera Corta</h2>
          <div
          class="mapa" style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m33!1m12!1m3!1d25388.350460584377!2d-59.14488223171573!3d-37.30594437924447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m18!3e2!4m5!1s0x9590dfe306289093%3A0x465978e20eff1da3!2sTreeland%20parque%20multiaventura%20desarrollado%20y%20coordinado%20por%20Piedra%20Libre%20Aventura%20Tandil%2C%20Palacios%203151%2C%20B7000%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!3m2!1d-37.2966293!2d-59.090205299999994!4m4!1s0x95912023bfffffff%3A0x8c67505a087891e5!3m2!1d-37.3075036!2d-59.1305815!4m5!1s0x959121d1072b4ac1%3A0xa818a07693913430!2sPlaza%20VI%20Armada%20De%20La%20Fuerza%20A%C3%A9rea!3m2!1d-37.3119143!2d-59.158360099999996!5e0!3m2!1ses!2sar!4v1758394223806!5m2!1ses!2sar" width="100%" height="600" style="border:20;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div>
            <a href="https://www.google.com/maps/dir/Treeland+parque+multiaventura+desarrollado+y+coordinado+por+Piedra+Libre+Aventura+Tandil,+Palacios+3151,+B7000+Tandil,+Provincia+de+Buenos+Aires/''/Plaza+VI+Armada+De+La+Fuerza+A%C3%A9rea/@-37.3059444,-59.1448822,14z/am=t/data=!4m20!4m19!1m5!1m1!1s0x9590dfe306289093:0x465978e20eff1da3!2m2!1d-59.0902053!2d-37.2966293!1m5!1m1!1s0x95912023bfffffff:0x8c67505a087891e5!2m2!1d-59.1305815!2d-37.3075036!1m5!1m1!1s0x959121d1072b4ac1:0xa818a07693913430!2m2!1d-59.1583601!2d-37.3119143!3e2?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D" target="_blank"><button id="boton_carrera">MAPA CARRERA CORTA</button></a></iframe>
          </div>
        <h2 class="titulo_carrera">Carrera Larga</h2>
          <div
            class="mapa" style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="10" src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d50779.938836352085!2d-59.22453189627406!3d-37.30114908347489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e2!4m5!1s0x9591206dedf0e54d%3A0xbe0551d2cb84d97c!2sSans%20Souci!3m2!1d-37.2836808!2d-59.116405!4m5!1s0x959123214c66d253%3A0xc18eac7994d4ac2f!2sCaba%C3%B1as%20Cerro%20Leones!3m2!1d-37.3106869!2d-59.1977426!4m5!1s0x95912302a29feb03%3A0x8e63c831ddb62383!2sCerro%20De%20La%20Virgen%2C%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!3m2!1d-37.306635899999996!2d-59.2521473!5e0!3m2!1ses!2sar!4v1758395568631!5m2!1ses!2sar" width="700" height="600" style="border:20;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <a href="https://www.google.com/maps/dir/Sans+Souci/Caba%C3%B1as+Cerro+Leones/Cerro+De+La+Virgen,+Tandil,+Provincia+de+Buenos+Aires/@-37.3011491,-59.2245319,13z/am=t/data=!3m1!4b1!4m20!4m19!1m5!1m1!1s0x9591206dedf0e54d:0xbe0551d2cb84d97c!2m2!1d-59.116405!2d-37.2836808!1m5!1m1!1s0x959123214c66d253:0xc18eac7994d4ac2f!2m2!1d-59.1977426!2d-37.3106869!1m5!1m1!1s0x95912302a29feb03:0x8e63c831ddb62383!2m2!1d-59.2521473!2d-37.3066359!3e2?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D" target="_blank"><button id="boton_carrera_corta">MAPA CARRERA LARGA</button></a></iframe></div>
          </div>
      </div>

    <!-- End Section Title -->

    <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="reglamento">Reglamento</h2>
        <p>Acá podes descargar un pdf del documento -pdf- (troleado puto)</p>
      </div><!-- End Section Title -->

    <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 id="registro">Registro</h2>
        <p>Acá va el link para registrarte: (troleado otra vez puto)</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>Soy Paco el parrafo, soy solo un parrafo y no tiene nada de malo serlo</p>
      </div>

    </section><!-- /Starter Section Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="#" class="logo d-flex align-items-center">
            <span class="sitename">Club Social y Deportivo Unidos por el Deporte</span>
          </a>
          <p>El evento se va a desarrollar en la ciudad de Tandil en Buenos Aires, organizado por nuestro club, el día 24 de Octubre de 2025 a las 8am. Existen dos modalidades corta y larga, la primera es de 3o km y la segunda de 80km.</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nuestros Links</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#about">Acerca</a></li>
            <li><a href="#services">Mapa</a></li>
            <li><a href="#portfolio">Reglamento</a></li>
            <li><a href="#team">Registro</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nuestros desarrolladores</h4>
          <ul>
            <li>Joaquin Leonel Orlando</li>
            <li>Aca va martin que no se como es el nombre completo</li>
            <li>Nicolás Ignacio Araujo</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactanos</h4>
          <p>Av. Paseo Colon 850</p>
          <p>Buenos Aires</p>
          <p>Argentina</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+54 9 11-9999-9999</span></p>
          <p><strong>Email:</strong> <span>alberto@gmail.com</span></p>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Auspiciantes</h4>
          <p>Coca-cola</p>
          <p>Kick</p>
          <p>Netflix</p>
          <p>RedBull</p>
          <p>Manaos</p>
          <p>Pampers</p>
          <p>Lamborgini</p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">CSDUD</strong> <span>Todos los derechos reservados.</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="flecha_arriba"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js', _external=True) }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js', _external=True) }}"></script>

</body>

</html>